{% extends 'baseInconnu.html.twig' %}
{% block body %}
    <div class="fixe_largeur_1000">
        <p class="text_justify">Vous êtes sur l'application ADEPT (Application Dédiée à l'Ergonomie des Postes de Travail), elle vous permettra de :</p>
        <p class="margin_left">- Repérer et hiérarchiser des postes de travail</p>
        <p class="margin_left">- Évaluer des situations de travail</p>
        <p class="text_justify">ADEPT a pour objectif d'améliorer la prévention des risques de Troubles Neuro-Musculosquelettique (TNMS) au sein d'une entreprise.</p>

        <p class="text_justify">Cette application se base sur :</p>
        <p class="margin_left text_justify">- La méthode d'analyse de la charge physique de travail (INRS - ED6161)</p>
        <p class="margin_left text_justify">- La norme d'ergonomie concernant la manutention manuelle de charge pour soulever, déplacer et pousser/tirer (AFNOR - NF X35-109).</p>

        <div>
            <a class="button" href="{{ path('adept_home') }}" >{% trans %}Se connecter{% endtrans %}</a>
        </div>
    </div>
{% endblock %}