*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    color: white;
    margin-left: 0 auto;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-position: center center;
    background-color: #2f3350;
}

.a_adept {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.a_adept:hover {
    color: #D3A87D;
    cursor: pointer;
    text-decoration: none;
}

.a_adept_ocre {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.a_adept_ocre:hover {
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

.button {
    margin-top: 4%;
    width: 60%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 20%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button_card {
    border-radius: inherit;
    background-color: white;
    border-style: none;
}

.button_ed6161 {
    margin-bottom: 0rem;
    margin-left: 1rem;
}

.button_import {
    margin-top: 4%;
    width: auto;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1em;
    /*margin-left: 20%;*/

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

#button_p {
    margin-top: 0%;
    margin-bottom: 4%;
    margin-left: auto;
    /*margin-right: auto;*/
}

.button2 {
    margin-top: 2%;
    width: 90%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: 5%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button2:hover {
    text-decoration: none;
    background-color: #D3A87D;
    color:#474747;
}

.button2_left {
    /*margin-top: 2%;*/
    width: 30%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    /*margin-left: 15%;*/
    margin-right: 40%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button3 {
    /*margin-top: 2%;*/
    width: 40%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    /*margin-left: 15%;*/
    margin-right: 20%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button3_center {
    width: 40%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button3_left {
    /*margin-top: 2%;*/
    width: 40%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    /*margin-left: 15%;*/
    margin-right: 20%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button3_right {
    /*margin-top: 2%;*/
    width: 40%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    /*margin-left: 15%;*/
    margin-left: 20%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button3_left:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

.button3_right:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

.button4 {
    /*margin-top: 2%;*/
    width: 40%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    /*margin-left: 15%;*/
    margin-right: 0;

    display: inline-block;
    text-align: center;
    padding-top: 0;
}

.button4_center {
    width: 50%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 2%;
    margin-right: 2%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button4_left {
    /*margin-top: 2%;*/
    width: 80%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    /*margin-left: 15%;*/
    margin-right: 10%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button4_right {
    /*margin-top: 2%;*/
    width: 80%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    /*margin-left: 15%;*/
    margin-left: 10%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button4_left:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

.button4_right:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

.button5 {
    width: 40%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    margin-right: 1%;
    margin-left: 1%;
    padding-bottom: 6px;
    padding-top: 6px;

    display: inline-block;
    text-align: center;
}

.button5:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

.button_adept {
    width: 60%;
    height: 40px;
    border: none;
    background-color:#2f3350;
    color:white;
    border-radius: 5px;
    font-size: 1em;

    display: inline-block;
    text-align: center;
    padding-top: 10px;
}

.button_adept:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

.button_adept_ocre {
    width: 60%;
    height: 40px;
    border: none;
    background-color:#D3A87D;
    color:black;
    border-radius: 5px;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 8px;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button_adept_ocre:hover {
    background-color: #2f3350;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.button_adept_inactif {
    width: 40%;
    height: 40px;
    border: none;
    background-color:#474747;
    color:white;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid white;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

.button_picture {
    margin-top: 1%;
    width: 25%;
    height: 40px;
    border: none;
    background-color:rgb(236, 236, 236);
    color:black;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 36%;

    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

#button2{
    padding-bottom: 5%;
}

.cadre_rouge {
    border: 4px solid red;
    padding: 2%;
    margin: 1%;
    width: 50%;
}

.cadre_vert {
    border: 4px solid green;
    padding: 2%;
    margin: 1%;
    width: 50%;
}

.card {
    border-radius: 20px;
}

.card_header {
    display: inline-block;
    text-align: center;
    width:100%;
    height: 60px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 4%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card_header_animation {
    color: white;
    background-color: #D3A87D;
}

.center {
    display: inline-block;
    text-align: center;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
}

.constraints {
    margin-bottom: 1%;
}

.container_input {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.custom-select {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.custom_select{
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 25px;
}

.ED6161_bulle {
    font-size: 0.8em;
    background-color: white;
    color: black;
    border-radius: 15px;
    width: auto;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.fixe_largeur_500 {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding: 3em;
}

.fixe_largeur_700 {
    display: block;
    width: 700px;
    margin: 0 auto;
    padding: 3em;
}

.fixe_largeur_900 {
    display: block;
    width: 900px;
    margin: 0 auto;
    padding: 3em;
}

.fixe_largeur_1000 {
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 3em;
}

.fixe_largeur_90 {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 3em;
}

.flag {
    width:50px;
    height:auto;
}

form {
    margin: 0 auto;
    width: 100%;
    /*padding: 1em;*/
}

.form2 {
    margin: 0 auto;
    width: 60%;
    padding: 1em;
}

.form-control {
    width: 90%;
    margin-left: 5%;
    height: auto;
}

.form_control_2 {
    width: 2%;
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    border-radius: 5px;
}

.form_control_4 {
    width: 4%;
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    border-radius: 5px;
}

.form_control_20 {
    width: 20%;
    margin-left: auto;
    margin-right: 60%;
    height: 40px;
    border-radius: 5px;
}

.form_control_40 {
    width: 40%;
    margin-left: auto;
    margin-right: 5%;
    height: 40px;
    border-radius: 5px;
}

.form_control_60 {
    width: 60%;
    margin-left: auto;
    margin-right: 5%;
    height: 40px;
    border-radius: 5px;
}

#form_secteur_nom, #form_posteDeTravail_nom {
    width: 60%;
}

#evaluateur_entreprise_nom, #evaluateur_site_nom {
    width: 60%;
}

.gray_cell {
    background-color: #474747;
}

.group_container {
    display: inline-flex;
    width: 100%;
}

.group_button {
    display: inline-flex;
    width: 100%;
}

.h1_margin_top {
    margin-top: 60px;
    margin-left: 1%;
}

.h_margin_bottom {
    margin-bottom: 1%;
    align-items: center;
}

.h_dark {
    color: black;
}

/*hr {
    color:white;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: auto;
    width: 1px;
}*/

.hr_left {
    border-left: 1px solid white;
    padding-top: 3%;
}

.hr_left2 {
    border-left: 1px solid white;
    padding-top: 0;
}

.icon {
    width: 10%;
    height: 10%;
    display: inline-block;
    margin-right: 2%;
}

.icon_click {
    height: 30px;
    width: auto;
}

.icon_click_margin_right{
    height: 25px;
    width: auto;
    margin-right: 2%;
}

.icon_container {
    width: 100%;
}

.icon_green {
    background-color: green;
    border-color: #474747;
    border-radius: 25px;
    color: #474747;
    height: 35px;
    width: 35px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.icon_manutention_type {
    height: 200px;
    width: auto;
}

.icon_navigation {
    background-color: white;
    border-radius: 25px;
    height: 50%;
    width: auto;
    max-height: 50%;
    max-width: auto;
    line-height: 50%;
    display: inline-block;
}

.icon_red {
    background-color: red;
    border-color: #474747;
    border-radius: 25px;
    color: #474747;
    height: 35px;
    width: 35px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.icon_yellow {
    background-color: yellow;
    border-color: #474747;
    border-radius: 25px;
    color: #474747;
    height: 35px;
    width: 35px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

input {
    margin-bottom: 25px;
    padding-left: 15px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
}

.input_modal {
    width: 40%;
}

#ModalCenterQ1, #ModalCenterQ2, #ModalCenterQ3, #ModalCenterQ4 {
    padding: 0;
}

li {
    list-style-type: none;
    margin:0;
    padding:0;
    color: #D3A87D;
}

.login {
    margin: 0 auto;
    margin-top: 100px;
    width: 30%;
    padding: 1em;
    margin-left: 35%;

    display: inline-block;
}

.logo {
    width: 200px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#logo_interreg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    margin-top: 0;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.margin_left {
    margin-left: 2%;
}

.margin_left_10 {
    margin-left: 10%;
}

.mauve {
    color:#D3A87D;
}

.mauve_cell {
    background-color: #D3A87D;
}

.modal_button {
    background-color:#2f3350;
    color:white;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    border: none;
}

.modal_label {
    margin-left: 2%;
}

.modal_margin {
    margin-top: 2%;
}

.modal_radio {
    height: 20px;
    width: 20px;
}

.modal_radio_container {
    display: inline-flex;
    font-size: 70%;
    width: 100%;
    vertical-align: middle;
    float:left;
}

.modal_text{
    color:black;
}

/*#logo_nomade {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 300px;
    margin-top: 0;
    height: auto;
    display: inline-block;
}*/

/*.main {
    margin-top: 150px;
}*/

nav {
    display: block;
    align-items: center;
}

.navbar {
    background-color: white;
    padding-left: 15%;
}

/*.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}*/

.no_margin_right {
    margin-right:0;
}

p {
    color: white;
}

.p {
    color: white;
}

.p_black {
    color: black;
}

#p_button {
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
}

.p_red {
    color: red;
}

.prise_charge {
    float:right;
    position: relative;
}

.question_ed6161 {
    margin-bottom: 0rem;
    margin-top: 0.2rem;
}

.resume_black {
    color:white;
    background-color: black;
}

.resume_green {
    color:black;
    background-color: green;
}

.resume_red {
    color:black;
    background-color: red;
}

.resume_yellow {
    color:black;
    background-color: yellow;
}

.return_image {
    transform: rotateY(0.5turn);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row_flex {
    display: flex;
}

.row_block {
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.text_area_80 {
    width: 100%;
    height: auto;
}

.text_justify {
    text-justify: auto;
}

.text_margin_right {
    margin-right: 2%;
}

.text_margin_top {
    margin-top: 1%;
}

.text_black {
    color: black;
    font-size: 1.25em;
}

.text_white {
    color: white;
    font-size: 1.25em;
}

.text_white:hover {
    color: white;
    font-size: 1.25em;
    text-decoration: none;
    cursor: pointer;
}

.vertical_align {
    display: inline-block;
    vertical-align: middle;
}

#container {
    display: flex;
    justify-content: space-between;
}

#flex-center {
    display: flex;
    justify-content: center;
}

html > body > div > ul > li > a:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

html > body > div > a:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

html > body > div > div > a:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}


html > body > form > div > a:hover, button:hover {
    background-color: #D3A87D;
    color: #474747;
    cursor: pointer;
    text-decoration: none;
}

span {cursor:pointer; }

.number{
	margin:0;
}

.minus, .plus{
	width:30px;
	height:30px;
	background:#f2f2f2;
	border-radius:4px;
	padding:2px 1px 2px 1px;
	border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.input_number{
    font-size: 1rem;
	height:30px;
    width: 100px;
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
    /*font-size: 26px;*/
	border:1px solid #ddd;
	border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

select {
    margin-bottom: 25px;
}

.switch {
    --carre: 1.5em;
    display: inline-flex;
    align-items: center;
    margin: 1em 2em;
    font-size: 1.25em;
}

.switch [type="checkbox"] {
    position: absolute;
    left: -9999em;
}

.switch label {
    display: inline-block;
    position: relative;
    width: 4em;
    height: var(--carre);
    border: 1px solid #2f3350;
    border-radius: calc(var(--carre) / 2);
    font-size: 1em;
    color: #2f3350;
    background: #bfc2da;
    cursor: pointer;
}

.switch label:before,
.switch label:after {
    content: "";
    position: absolute;
    transition: .25s ease-in-out;
}

.switch label:before {
    z-index: 1;
    top: 50%;
    right: auto;
    left: 0;
    box-sizing: border-box;
    width: var(--carre);
    height: var(--carre);
    border: 1px solid #474747;
    border-radius: 50%;
    background: white;
    transform: translate(0, -50%);
}

.switch label:after {
    content: attr(data-off);
    z-index: 0;
    top: 50%;
    left: 100%;
    padding: 0 .5em;
    color: currentColor;
    transform: translate(-100%, -50%);
}

.switch [type="checkbox"]:checked + label {
    border: 1px solid #D3A87D;
    color: #D3A87D;
    background: #f0dfce;
}

.switch [type="checkbox"]:checked + label:before {
    right: 0;
    left: 100%;
    transform: translate(-100%, -50%);
}

.switch [type="checkbox"]:checked + label:after {
    content: attr(data-on);
    left: 0;
    transform: translate(0%, -50%);
}

.switch2 {
    --carre: 1.5em;
    align-items: center;
    /*margin: 1em 2em;*/
    font-size: 1.25em;
    /*margin-left: 2%;*/
}

.switch2 [type="checkbox"] {
    position: absolute;
    left: -9999em;
}

.switch2 label {
    display: inline-block;
    position: relative;
    width: 4em;
    height: var(--carre);
    border: 1px solid #2f3350;
    border-radius: calc(var(--carre) / 2);
    font-size: 1em;
    color: #2f3350;
    background: #bfc2da;
    cursor: pointer;
    margin-bottom: 0;
}

.switch2 label:before,
.switch2 label:after {
    content: "";
    position: absolute;
    transition: .25s ease-in-out;
}

.switch2 label:before {
    z-index: 1;
    top: 50%;
    right: auto;
    left: 0;
    box-sizing: border-box;
    width: var(--carre);
    height: var(--carre);
    border: 1px solid #474747;
    border-radius: 50%;
    background: white;
    transform: translate(0, -50%);
}

.switch2 label:after {
    content: attr(data-off);
    z-index: 0;
    top: 50%;
    left: 100%;
    padding: 0 .5em;
    color: currentColor;
    transform: translate(-100%, -50%);
}

.switch2 [type="checkbox"]:checked + label {
    border: 1px solid #D3A87D;
    color: #D3A87D;
    background: #f0dfce;
}

.switch2 [type="checkbox"]:checked + label:before {
    right: 0;
    left: 100%;
    transform: translate(-100%, -50%);
}

.switch2 [type="checkbox"]:checked + label:after {
    content: attr(data-on);
    left: 0;
    transform: translate(0%, -50%);
}


#container_MM_sans_aide_new_charge{
    width: 1200px;
    height: 400px;
    position: relative;
    /*background: yellow;*/
}

#animation_MM_sans_aide_new_charge{
    /*width: 50px;
    height: 50px;*/
    position: absolute;
    /*background: red;*/
}