{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <h1>Contraintes</h1>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_references_conditions') }}" >Revenir en arrière</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_results') }}" >Continuer</a>
        </div>
    </div>
{% endblock %}