{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <h1>Conditions d'exécution</h1>
            <div class="group_button">
                <p>Poids de la charge (en kg) :</p>
                <div class="number">
                    <span class="minus">-</span>
                    <input type="text" class="input_number" value="1"/>
                    <span class="plus">+</span>
                </div>
            </div>
            <p>Prise de la charge :</p>
            <p>Hauteur (m)</p>
            <p>Profondeur (m)</p>
            <p>Dépôt de la charge :</p>
            <p>Hauteur (m)</p>
            <p>Profondeur (m)</p>
            <p>Effort pousser/tirer :</p>
            <p>Force initiale (daN)</p>
            <p>Force de maintien (daN)</p>
            <p>Distance de transport de la charge (m) :</p>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_tool_NFX35109') }}" >Revoir les conditions</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_references_conditions') }}" >Continuer</a>
        </div>
    </div>
{% endblock %}