{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <h1>Conditions d'exécution</h1>
        </div>
        <div class="group_button">
            <a class="button2" href="{{ path('adept_tool_NFX35109') }}" >Revoir les conditions</a>
            <a class="button2" href="{{ path('adept_NFX35109_references_conditions') }}" >Continuer</a>
        </div>
    </div>
{% endblock %}