{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            <h1>NF X35-109 - Manutention manuelle avec aide à la manutention</h1>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_manutention_type') }}" >Revenir en arrière</a>
        </div>
    </div>
{% endblock %}