{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            <div class="row">
                <h1>{% trans %}Repérer{% endtrans %}</h1>
                <h1>></h1>
                <h1>{% trans %}Hiérarchiser{% endtrans %}</h1>
                <h1>></h1>
                <h1 class="mauve">{% trans %}Évaluer{% endtrans %}</h1>
            </div>
            <h1>{% trans %}Manutention Manuelle de charge - Type de manutention{% endtrans %}</h1>
            <p class="mauve">{% trans %}À quel type de manutention votre situation correspond t-elle ?{% endtrans %}</p>
            <div class="icon_container">
                <!-- Aperçu du fichier exporté et les icônes MM sans aide à la M et MM avec aide à la M-->
                <div class="row" id="first_choice">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <a class="center" href="{{ path('adept_NFX35109_handling_without_assistance',  { 'id': idEvaluation }) }}">
                                <img class="card-img-top icon_manutention_type" src="/images/icon_MM_sans_aide2.png" alt="icon MM sans aide à la manutention" id="icon_handling_without_assistance" />
                            </a>
                            <div class="card-body center">
                                <p class="p_black">{% trans %}Manutention manuelle de charge sans aide à la manutention.{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <a class="center" href="{{ path('adept_NFX35109_handling_with_assistance',  { 'id': idEvaluation }) }}">
                                <img class="card-img-top icon_manutention_type" src="/images/icon_MM_avec_aide2.png" alt="icon MM avec aide à la manutention" id="icon_handling_with_assistance"/>
                            </a>
                            <div class="card-body center">
                                <p class="p_black">{% trans %}Pousser/Tirer{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="button3_left text_margin_top" href="{{ path('adept_NFX35109_activity_detail',  { 'id': idEvaluation }) }}">{% trans %}Revenir en arrière{% endtrans %}</a>
        </div>
    </div>
{% endblock %}