{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            <h1>Manutention Manuelle de charge - Contraintes</h1>

            <hr>

            
            <h3 class="h_margin_bottom">Conditions d'exécution de la tâche</h3>

            <!-- <div class="row_block">
                <select class="custom_select form_control_40 no_margin_right" id="input_contraintes" name="select_contraintes">
                    <option value="1">Sans poignées ou inadaptées</option>
                    <option value="2">Torsion du tronc</option>
                    <option value="3">Profondeur de prise > 0,40 m</option>
                    <option value="4">Hors zone d'atteinte</option>
                    <option value="5">Posture/position du corps</option>
                    <option value="6">Charge instable</option>
                    <option value="7">Visibilité limitée</option>
                    <option value="8">Roulettes inadéquates</option>
                    <option value="9">Absence de frein</option>
                </select>
                <button id="button_add" class="button4 form_control_2" onclick="addConstraint()">+</button>
                <button id="button_remove" class="button4 form_control_2" onclick="removeConstraint()">-</button>
            </div> -->
            

            <div class="row_block">
                <select class="custom_select form_control_40 no_margin_right" id="input_contraintes" name="select_contraintes">
                    {% for contrainte in listeContraintes %}
                        <option value={{ contrainte.id }}>{{ contrainte.intitule }}</option>
                    {% endfor %}
                    <!--<option value="1">Sans poignées ou inadaptées</option>
                    <option value="2">Torsion du tronc</option>
                    <option value="3">Profondeur de prise > 0,40 m</option>
                    <option value="4">Hors zone d'atteinte</option>
                    <option value="5">Posture/position du corps</option>
                    <option value="6">Charge instable</option>
                    <option value="7">Visibilité limitée</option>
                    <option value="8">Roulettes inadéquates</option>
                    <option value="9">Absence de frein</option>-->
                </select>
                <button id="button_add" class="button4 form_control_2" onclick="addConstraint()">+</button>
                <button id="button_remove" class="button4 form_control_2" onclick="removeConstraint()">-</button>
            </div>


            <p id="constraint_1">Sans poignées ou inadaptées</p>
            <p id="constraint_2">Torsion du tronc</dpv>
            <p id="constraint_3">Profondeur de prise sup 0,40 m</p>
            <p id="constraint_4">Hors zone d'atteinte</p>
            <p id="constraint_5">Posture/position du corps</p>
            <p id="constraint_6">Charge instable</p>
            <p id="constraint_7">Visibilité limitée</p>
            <p id="constraint_8">Roulettes inadéquates</p>
            <p id="constraint_9">Absence de frein</p>
        </div>

        <!-- Ajouter et retirer une contrainte d'exécution -->
        <script>
            document.getElementById("constraint_1").style.display = 'none';
            document.getElementById("constraint_2").style.display = 'none';
            document.getElementById("constraint_3").style.display = 'none';
            document.getElementById("constraint_4").style.display = 'none';
            document.getElementById("constraint_5").style.display = 'none';
            document.getElementById("constraint_6").style.display = 'none';
            document.getElementById("constraint_7").style.display = 'none';
            document.getElementById("constraint_8").style.display = 'none';
            document.getElementById("constraint_9").style.display = 'none';

            function addConstraint() {
                /* Ajouter une contrainte */
                var add_select = document.getElementById('input_contraintes');
                var add_choice = add_select.selectedIndex;
                var add_value = add_select.options[add_choice].value;
                var add_id = "constraint_" + add_value;

                document.getElementById(add_id).style.display = 'block';
            }
            document.getElementById('button_add').addEventListener("click", addConstraint);

            function removeConstraint() {
                /* Retirer une contrainte */
                var rem_select = document.getElementById('input_contraintes');
                var rem_choice = rem_select.selectedIndex;
                var rem_value = rem_select.options[rem_choice].value;
                var rem_id = "constraint_" + rem_value;

                document.getElementById(rem_id).style.display = 'none';
            }
            document.getElementById('button_remove').addEventListener("click", removeConstraint);
        </script>

        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_handling_without_assistance_charge_informations',  { 'id': idEvaluateur, 'id2': idSituation }) }}" >Revenir en arrière</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance',  { 'id': idEvaluateur, 'id2': idSituation }) }}" >Continuer</a>
        </div>
    </div>
{% endblock %}