{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <h1>Conditions de références</h1>
        </div>
        <div>
            <h1>Transport de charge</h1>
        </div>
        <div>
            <h1>Pousser/Tirer</h1>
        </div>
        <div class="group_button">
            <a class="button2" href="{{ path('adept_NFX35109_execution_conditions') }}" >Revenir en arrière</a>
            <a class="button2" href="{{ path('adept_NFX35109_constraints') }}" >Continuer</a>
        </div>
    </div>
{% endblock %}