{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <h1>Résumé</h1>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_constraints') }}" >Revenir en arrière</a>
            <a class="button3_right" href="{{ path('adept_menu') }}" >Retour au menu principal</a>
        </div>
    </div>
{% endblock %}