{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="center">
            <p id="p_button">Laissez-vous guider par un questionnaire :</p>
            <a class="button" id="button_p" href="{{ path('adept_tool_survey') }}" >Répondre au questionnaire</a>
        </div>
        <div class="center">
            <p id="p_button">Ou choisissez votre outil de cotation :</p>
            <a class="button" id="button_p" href="{{ path('adept_ergonomics_tools_list') }}" >Choisir l'outil de cotation</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_menu') }}" >Retourner au menu principal</a>
        </div>
    </div>
{% endblock %}