{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_900">
        <div class="center">
            <p id="p_button">{% trans %}Laissez-vous guider{% endtrans %} :</p>
            <a class="button" id="button_p" href="{{ path('adept_tool_guide') }}" >Je me laisse guider</a>
        </div>
        <div class="center">
            <p id="p_button">{% trans %}Ou choisissez votre outil de cotation{% endtrans %} :</p>
            <a class="button" id="button_p" href="{{ path('adept_ergonomics_tools_list') }}" >{% trans %}Choisir l'outil de cotation{% endtrans %}</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_menu') }}" >{% trans %}Retourner au menu principal{% endtrans %}</a>
        </div>
    </div>
{% endblock %}