{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <p>Bilan d'entreprise</p>
    </div>
    <div>
        <a class="button" href="{{ path('adept_menu') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}