{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <p>{% trans %}Bilan d'entreprise{% endtrans %}</p>
    </div>
    <div>
        <a class="button" href="{{ path('adept_menu') }}" >{% trans %}Retourner au menu principal{% endtrans %}</a>
    </div>
{% endblock %}