{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h1>{% trans %}Guide{% endtrans %}</h1>
        <p>Veuillez répondre aux questions suivantes :</p>
        <p> - Votre activité présente t-elle de la manutention de charge avec ou sans déplacement de l'opérateur ?</p>

        <div class="switch">
            <input type="checkbox" id="check">
            <label for="check" data-off="Non" data-on="Oui"></label>
        </div>

        <div class="group_button">
            <a class="button2" href="{{ path('adept_analyze_choice') }}" >{% trans %}Retour{% endtrans %}</a>
            <button type="submit" class="button2">Continuer</button>
        </div>
    </div>
{% endblock %}