{% extends 'base.html.twig' %}
{% block body %}
    <form action="/authentification" method="post" class="text-align left"> 
        <div>
            <input type="text" id="login" name="user_login" placeholder="Login">
        </div>
        <div>
            <input type="text" id="password" name="user_password" placeholder="Mot de passe">
        </div>
        <div>
            <button type="submit" class="button">Se connecter</button> 
        </div>
        <a href="/">Mot de passe oublié ?</a>
        <p>Pour des raisons de sécurité, veuillez vous <a href="/">déconnecter</a> et fermer votre navigateur lorsque vous avez fini d'accéder aux services authentifiés.</p>
    </form>
{% endblock %}