{% extends 'base.html.twig' %}
{% block body %}
    <form action="{{ path('security_login') }}" method="post" class="text-align left">
        <div>
            <input type="text" name="_username" placeholder="Adresse mail" required>
        </div>
        <div>
            <input type="password" name="_password" placeholder="Mot de passe" required>
        </div>
        <div>
            <button type="submit" class="button">Se connecter</button> 
        </div>
        <div>
            <a class="button" href="{{ path('adept_registration') }}" >Se créer un compte</a>
        </div>
    </form>
{% endblock %}