{% extends 'base.html.twig' %}
{% block body %}
    <form action="/authentification" method="post" class="text-align left"> 
        <div>
            <input type="text" id="login" name="user_login" placeholder="Login">
        </div>
        <div>
            <input type="password" id="password" name="user_password" placeholder="Mot de passe">
        </div>
        <div>
            <button type="submit" class="button">Se connecter</button> 
        </div>
    </form>
{% endblock %}