{% extends 'base.html.twig' %}
{% block body %}
    <form action="{{ path('security_login') }}" method="post" class="login">
        <div>
            <input type="text" name="_username" placeholder="Adresse mail" required>
        </div>
        <div>
            <input type="password" name="_password" placeholder="Mot de passe" required>
        </div>
        <div class="group_button">
            <button type="submit" class="button2" id="button2">Se connecter</button>
            <a class="button2" href="{{ path('adept_registration') }}" >S'inscrire</a>
        </div>
    </form>
{% endblock %}