{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h1>Questionnaire</h1>
        <div>
            <a class="button" href="{{ path('adept_analyze_choice') }}" >Retour</a>
        </div>
    </div>
{% endblock %}