{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h1>{% trans %}Questionnaire{% endtrans %}</h1>
        <div>
            <a class="button" href="{{ path('adept_analyze_choice') }}" >{% trans %}Retour{% endtrans %}</a>
        </div>
    </div>
{% endblock %}