{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <a class="button" href="{{ path('adept_NFX35109_picture') }}" >NF X35-109</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_tool_NIOSH') }}" >{% trans %}Équation du NIOSH{% endtrans %}</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_analyze_choice') }}" >{% trans %}Retour{% endtrans %}</a>
        </div>
    </div>
{% endblock %}