{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <a class="button" href="{{ path('adept_tool_NFX35109') }}" >NF X35-109</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_tool_NIOSH') }}" >Équation du NIOSH</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_analyze_choice') }}" >Retour</a>
        </div>
    </div>
{% endblock %}